* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #e3e3e3;
  --secondary-color: #3c3c3c;
}

menu {
  margin-block-start: 10px;
}

menu > li {
  display: flex;
  margin-block-end: 6px;
}

.icon {
  border: 0;
  block-size: 20px;
  inline-size: 20px;
  margin-inline-end: 6px;
}

menu > li > .toggle {
  margin-inline-start: auto;
}

.toggle {
  -moz-appearance: none;
  display: block;
  inline-size: 80%;
  background-color: var(--secondary-color);
  border-radius: 2px;
  position: relative;
  cursor: pointer;
  color: #fff;
  border: 1px solid #000;
}

.toggle:focus {
  border: 1px solid blue;
}

.toggle::before,
.toggle::after {
  width: 23px;
  padding: 2px;
  max-block-size: 25px;
  max-inline-size: 25px;
}

.toggle:checked::before,
.toggle::after {
  content: " ";
  padding: 0px;
  background-color: var(--primary-color);
  border-radius: 2px;
}

.toggle::before,
.toggle:checked::after {
  background: unset;
  font-size: 0.75em;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
